black
datasets==1.7.0
flake8
isort
jinja2
pytest
pyyaml>=5
sentencepiece
streamlit>=0.82.0
torch
transformers
##############################################################
# Dependencies in this section are added for specific datasets
##############################################################
py7zr
##############################################################
# End of dataset-specific dependencies
##############################################################
