black
datasets>=1.7.0
flake8
isort==5.8.0
pytest
pyyaml>=5
streamlit==0.82
jinja2
plotly
requests
pandas
##############################################################
# Dependencies in this section are added for specific datasets
##############################################################
py7zr
##############################################################
# End of dataset-specific dependencies
##############################################################
