black
datasets==1.7.0
flake8
isort
pytest
pyyaml>=5
streamlit>=0.82.0
jinja2
##############################################################
# Dependencies in this section are added for specific datasets
##############################################################
py7zr
##############################################################
# End of dataset-specific dependencies
##############################################################
